APP_URL=https://drive.msawas.com
SESSION_KEY=change-this-to-random-32-char-string

KDRIVE_CLIENT_ID=your_kdrive_client_id
KDRIVE_CLIENT_SECRET=your_kdrive_client_secret
KDRIVE_REDIRECT_URI=https://drive.msawas.com/api/auth/kdrive/callback
